reels-autopilot.json
{
  "name": "My workflow 6 copy",
  "nodes": [
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "name": "Upload Final Video",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1480,
        200
      ],
      "id": "72444077-01ed-4972-b1cf-f5a8937bb338",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Vt1qBhoNFddDaUnc",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "return [{json:{videoUrl:$node[\"Upload Final Video\"].json.webViewLink,description:$node[\"Caption Source1\"].json.description}}];"
      },
      "name": "Prepare Airtable Fields",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1680,
        200
      ],
      "id": "c0d4a211-0345-4491-bfcb-4814f1798c1b"
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "list",
        "application": {
          "__rl": true,
          "value": "appvifz0ot1GllmI6",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblOnteWFMxZZqK8m",
          "mode": "id"
        },
        "additionalOptions": {}
      },
      "name": "Check Duplicate1",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        -120,
        840
      ],
      "id": "5073dc73-5751-426a-9ce2-d0e277a1c1d0",
      "credentials": {
        "airtableTokenApi": {
          "id": "j0A9W6lTtOFzjTdr",
          "name": "Reels Завод"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "append",
        "application": {
          "__rl": true,
          "value": "appvifz0ot1GllmI6",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblOnteWFMxZZqK8m",
          "mode": "id"
        },
        "addAllFields": false,
        "options": {}
      },
      "name": "Save Record1",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        120,
        840
      ],
      "id": "9e2101df-ea7c-419e-bdb0-fa4a7a9f1c88",
      "credentials": {
        "airtableTokenApi": {
          "id": "j0A9W6lTtOFzjTdr",
          "name": "Reels Завод"
        }
      }
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.autoposting.com/reels",
        "allowUnauthorizedCerts": true,
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\n  \"caption\": \"{{$node['Caption Source'].json['description']}}\",\n  \"file\": \"output.mp4\"\n}"
      },
      "name": "Publish Reel1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        320,
        840
      ],
      "id": "8c5e66a2-4805-4a70-a145-b6e372da8506"
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "update",
        "application": "airtable",
        "table": "history",
        "options": {}
      },
      "name": "Update Status1",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        540,
        840
      ],
      "id": "19b00a34-3d6d-4f2d-86a2-f91a3ecd8323",
      "credentials": {
        "airtableTokenApi": {
          "id": "j0A9W6lTtOFzjTdr",
          "name": "Reels Завод"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "# 1. n8n.io\n# 2. airtable.com\n# 3. developers.facebook.com\n# 4. platform.openai.com\n# 5. console.cloud.google.com\n.\n# ID -\n# Secret - \n# Access Token -",
        "height": 640,
        "width": 660
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        540,
        -700
      ],
      "typeVersion": 1,
      "id": "b2e08593-3856-40bd-8491-625069e871e8",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "name": "Wait Render1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        940,
        200
      ],
      "id": "e1efa452-55f5-41cb-9dc5-6b2fc4df8514",
      "webhookId": "25b2968f-29b8-47d4-8e3a-cb9a4c1a63de"
    },
    {
      "parameters": {
        "url": "https://api.json2video.com/v2/movies/{{$node[\"Create Video via json2video1\"].json[\"project\"]}}",
        "jsonParameters": true,
        "options": {},
        "headerParametersJson": "{\n  \"x-api-key\": \"5QWRvH54aWMKmfeHGqoj0cLpukGYFbuNeKdFsTve\"\n}"
      },
      "name": "Check Render Status1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1100,
        200
      ],
      "id": "ef9b8210-0e6c-4381-b67a-61b9fd83d928"
    },
    {
      "parameters": {
        "url": "={{$node[\"Check Render Status1\"].json[\"videoUrl\"]}}",
        "responseFormat": "file",
        "jsonParameters": true,
        "options": {}
      },
      "name": "Download Final Video1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1280,
        200
      ],
      "id": "c9ef4223-85d2-499c-855e-482aee703da1"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\n  \"model\": \"gpt-3.5-turbo\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Ты профессиональный маркетолог и сценарист Instagram Reels. Твоя задача — создавать вирусные заголовки и лаконичные описания, которые сразу цепляют внимание и доносят суть.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Создай **заголовок** и **краткое, цепляющее описание** для Instagram Reels на тему: [УКАЖИ ТЕМУ ЗДЕСЬ].\\n\\n🔹 **Заголовок** — одно цепляющее предложение, провокационное, кликбейтное, вызывающее интерес, но без фейка. Никаких эмодзи в заголовке.\\n\\n🔹 **Описание** — пиши живым, разговорным языком. Максимум 2–3 абзаца или 300 символов. Передай суть видео, усили интерес, добавь лёгкий триггер или вопрос. Заверши простым призывом к действию (смотри, пиши, делай).\\n\\nВерни ответ строго в следующем формате:\\n\\nЗаголовок: [текст заголовка]\\nОписание: [краткое, вовлекающее описание]\"\n    }\n  ]\n}\n",
        "headerParametersJson": "{\n  \"Authorization\": \"Bearer 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\",\n  \"Content-Type\": \"application/json\"\n}\n"
      },
      "name": "GPT Generate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -260,
        360
      ],
      "id": "deda5a62-722f-4b06-8786-fcb3472449ef"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75bcb72f-beba-47be-92e4-d334be1df56e",
              "name": "fileUrl",
              "value": "=https://drive.google.com/uc?export=download&id={{$node[\"Pick Random2\"].json[\"fileId\"]}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        540,
        360
      ],
      "id": "fe6f521b-c71c-4b03-8713-2037618420da",
      "name": "Edit Fields Video"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75bcb72f-beba-47be-92e4-d334be1df56e",
              "name": "fileUrl",
              "value": "=https://drive.google.com/uc?export=download&id={{$node[\"Pick Random1\"].json[\"fileId\"]}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        140,
        200
      ],
      "id": "2479bcc5-f52e-4571-bcd8-9ad348368978",
      "name": "Edit Fields Audio"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.json2video.com/v2/movies",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "json"
        },
        "bodyParametersJson": "={{\nJSON.stringify({\n  resolution: \"custom\",\n  width: 1080,\n  height: 1920,\n  draft: true,\n  scenes: [\n    {\n      elements: [\n        {\n          type: \"video\",\n          src: `https://drive.google.com/uc?export=download&id=${$node['Pick Random2'].json['fileId']}`,\n          width: 1080,\n          height: 1200,\n          top: 360,\n          left: 0,\n          resize: \"cover\"\n        },\n        {\n          type: \"html\",\n          html: `<div style=\"width:100%;height:360px;background-color:black;display:flex;align-items:center;justify-content:center;font-size:38px;font-weight:bold;color:white;text-align:center;padding:0 40px;\">${$node['Caption Source'].json['title']}</div>`,\n          duration: 10\n        },\n        {\n          type: \"html\",\n          html: `<div style=\"width:100%;height:360px;background-color:black;\"></div>`,\n          position: \"absolute\",\n          bottom: 0,\n          left: 0,\n          duration: 10\n        }\n      ]\n    }\n  ]\n})\n}}\n",
        "headerParametersJson": "{\n  \"Content-Type\": \"application/json\",\n  \"x-api-key\": \"5QWRvH54aWMKmfeHGqoj0cLpukGYFbuNeKdFsTve\"\n}"
      },
      "id": "c7eda61d-09f8-484d-a5e7-6284ac4dd5fc",
      "name": "Create Video via json2video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        700,
        200
      ]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "0 6 * * *"
            }
          ]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -480,
        260
      ],
      "id": "270721b2-05a2-4ec8-8b6e-d78494e94d2d"
    },
    {
      "parameters": {
        "functionCode": "const content = items[0].json.choices?.[0]?.message?.content || '';\n\n// Извлекаем заголовок (однострочный, после \"Заголовок:\")\nconst titleMatch = content.match(/Заголовок:\\s*[\"“]?(.+?)[\"”]?\\n/);\n\n// Извлекаем описание (всё, что после \"Описание:\")\nconst descriptionMatch = content.match(/Описание:\\s*([\\s\\S]*)/);\n\n// Чистим результат\nconst title = titleMatch ? titleMatch[1].trim() : '';\nconst description = descriptionMatch ? descriptionMatch[1].trim() : '';\n\nreturn [\n  {\n    json: {\n      title,\n      description\n    }\n  }\n];\n"
      },
      "name": "Caption Source",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -60,
        360
      ],
      "id": "6efff2c8-9050-445d-bc63-ae7b338e686d"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "list",
        "useQueryString": true,
        "queryString": "'1gZh69VtInNxR___u-VnNIUUihcmq_mCi' in parents and mimeType != 'application/vnd.google-apps.folder'",
        "options": {}
      },
      "name": "Audio Disc",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        -260,
        200
      ],
      "id": "e31ef7ed-fff3-49c8-b09d-81e33d50d3fa",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Vt1qBhoNFddDaUnc",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "list",
        "useQueryString": true,
        "queryString": "'1mwCMPgw6NjfEl4IiRIb1gkdFCM42gBXi' in parents and mimeType != 'application/vnd.google-apps.folder'",
        "options": {}
      },
      "name": "Video Disc",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        140,
        360
      ],
      "id": "a6b6006a-7397-443e-bffc-d956e51e2fd5",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Vt1qBhoNFddDaUnc",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const files = items; // каждый item — это файл\nif (!files.length) {\n  throw new Error('Нет файлов для выбора');\n}\n\nconst idx = Math.floor(Math.random() * files.length);\n\nreturn [\n  {\n    json: {\n      fileId: files[idx].json.id,\n      fileName: files[idx].json.name\n    }\n  }\n];\n"
      },
      "name": "Pick Random2",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        340,
        360
      ],
      "id": "08d3989a-d7ed-4d03-9e6c-9694df3ba315"
    },
    {
      "parameters": {
        "functionCode": "const files = items; // каждый item — это файл\nif (!files.length) {\n  throw new Error('Нет файлов для выбора');\n}\n\nconst idx = Math.floor(Math.random() * files.length);\n\nreturn [\n  {\n    json: {\n      fileId: files[idx].json.id,\n      fileName: files[idx].json.name\n    }\n  }\n];\n"
      },
      "name": "Pick Random1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -60,
        200
      ],
      "id": "8c38b552-5a8c-4c17-87c4-dc5024f76b02"
    }
  ],
  "pinData": {
    "Cron": [
      {
        "json": {}
      }
    ]
  },
  "connections": {
    "Upload Final Video": {
      "main": [
        [
          {
            "node": "Prepare Airtable Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate1": {
      "main": [
        [
          {
            "node": "Save Record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Record1": {
      "main": [
        [
          {
            "node": "Publish Reel1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish Reel1": {
      "main": [
        [
          {
            "node": "Update Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Render1": {
      "main": [
        [
          {
            "node": "Check Render Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Render Status1": {
      "main": [
        [
          {
            "node": "Download Final Video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Final Video1": {
      "main": [
        [
          {
            "node": "Upload Final Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT Generate": {
      "main": [
        [
          {
            "node": "Caption Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields Video": {
      "main": [
        [
          {
            "node": "Create Video via json2video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Video via json2video": {
      "main": [
        [
          {
            "node": "Wait Render1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron": {
      "main": [
        [
          {
            "node": "GPT Generate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Audio Disc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Caption Source": {
      "main": [
        [
          {
            "node": "Video Disc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio Disc": {
      "main": [
        [
          {
            "node": "Pick Random1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Disc": {
      "main": [
        [
          {
            "node": "Pick Random2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Random2": {
      "main": [
        [
          {
            "node": "Edit Fields Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Random1": {
      "main": [
        [
          {
            "node": "Edit Fields Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields Audio": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b5572258-0033-491f-b81a-a98c60c36504",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "03802800ec9728491c300edb92e0138d87d9dcbbfccb74620634ca050fae6138"
  },
  "id": "NnoYOzymkfuqYt8O",
  "tags": []
}
