reels-autopilot.json
{
  "name": "My workflow 6",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "0 6 * * *"
            }
          ]
        }
      },
      "name": "Cron1",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        140,
        2320
      ],
      "id": "d5f117da-827a-4012-9147-8fca396ba524"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\n  \"model\": \"gpt-3.5-turbo\",\n  \"messages\": [{\"role\": \"system\",\"content\": \"You are a helpful assistant\"},{\"role\": \"user\",\"content\": \"Generate Instagram reel caption\"}]\n}",
        "headerParametersJson": "Key: Authorization\nValue: Bearer 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\n"
      },
      "name": "GPT Generate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        280,
        4680
      ],
      "id": "5d4b5878-6083-42a9-8b87-e7efdbf727c4"
    },
    {
      "parameters": {
        "functionCode": "const files = items; // каждый item — это файл\nif (!files.length) {\n  throw new Error('Нет файлов для выбора');\n}\n\nconst idx = Math.floor(Math.random() * files.length);\n\nreturn [\n  {\n    json: {\n      fileId: files[idx].json.id,\n      fileName: files[idx].json.name\n    }\n  }\n];\n"
      },
      "name": "Pick Random",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -940,
        4960
      ],
      "id": "57f1b804-6891-44d7-8274-48aa6ca2f97f"
    },
    {
      "parameters": {
        "command": "=ffmpeg -i \"{{$node['Download from Drive1'].binary.data.filePath}}\"\n     -vf \"drawbox=... ,drawtext=text='{{$node['Caption Source'].json['title']}}' ...\"\n"
      },
      "name": "Add Frame",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -520,
        5120
      ],
      "id": "691bffee-d7d0-4ebf-b2da-0907002a19ad"
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "list",
        "application": {
          "__rl": true,
          "value": "appvifz0ot1GllmI6",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "=accounts",
          "mode": ""
        },
        "additionalOptions": {}
      },
      "name": "Get Accounts",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        -360,
        4960
      ],
      "id": "c40f92c1-5006-446d-a198-d7d749160720",
      "credentials": {
        "airtableTokenApi": {
          "id": "j0A9W6lTtOFzjTdr",
          "name": "Reels Завод"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "return Math.random() < 0.5 ? [{json:{branch: 'GPT'}}] : [{json:{branch: 'Competitor'}}];"
      },
      "name": "Choose Source",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -160,
        4960
      ],
      "id": "872fa9ee-e90f-4632-adbc-597da55c5aa7"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"branch\"]}}",
              "value2": "GPT"
            }
          ]
        }
      },
      "name": "IF GPT",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        60,
        4960
      ],
      "id": "fca7c6fc-2fc8-4c46-bd25-03ba5106b55e"
    },
    {
      "parameters": {
        "url": "=https://www.instagram.com/{{$json.account}}/reels/",
        "responseFormat": "string",
        "options": {}
      },
      "name": "Fetch Competitor Reels",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        200,
        5200
      ],
      "id": "36fd1db8-5f2e-452b-bb19-7f035ea77b16"
    },
    {
      "parameters": {
        "functionCode": "// filter for viral reel\nconst reels = items[0].json.reels || [];\nconst good = reels.filter(r => r.views / r.followers > 1.5);\nif (!good.length) { return [{json:{title:'', description:'', music:''}}]; }\nconst pick = good[Math.floor(Math.random()*good.length)];\nreturn [{json:{title: pick.title, description: pick.description, music: pick.music}}];"
      },
      "name": "Select Viral",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        360,
        5200
      ],
      "id": "aecb86ca-0a8a-4231-b97c-8c8e37e2ffce"
    },
    {
      "parameters": {
        "functionCode": "const data = items[0].json;\nlet title = data.title || (data.choices && data.choices[0]?.message?.content) || '';\nreturn [{json:{title}}];"
      },
      "name": "Caption Source",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        500,
        4960
      ],
      "id": "2ea415e4-0d69-42d9-8fc9-457bab090756"
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "list",
        "application": {
          "__rl": true,
          "value": "appvifz0ot1GllmI6",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblOnteWFMxZZqK8m",
          "mode": "id"
        },
        "additionalOptions": {}
      },
      "name": "Check Duplicate",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        740,
        4960
      ],
      "id": "d4f82508-3354-46a6-9f20-2d90e2d14509",
      "credentials": {
        "airtableTokenApi": {
          "id": "j0A9W6lTtOFzjTdr",
          "name": "Reels Завод"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "append",
        "application": "airtable",
        "table": "history",
        "options": {}
      },
      "name": "Save Record",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        960,
        4960
      ],
      "id": "a387a821-7b89-41f2-afa8-837aa76a04f6",
      "credentials": {
        "airtableTokenApi": {
          "id": "j0A9W6lTtOFzjTdr",
          "name": "Reels Завод"
        }
      }
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.autoposting.com/reels",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\n  \"caption\": \"{{$node[\\\"Caption Source1\\\"].json[\\\"title\\\"]}}\",\n  \"file\": \"output.mp4\"\n}"
      },
      "name": "Publish Reel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1160,
        4960
      ],
      "id": "d401973c-9a34-4460-846b-09d377ea1444"
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "update",
        "application": "airtable",
        "table": "history",
        "options": {}
      },
      "name": "Update Status",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        1360,
        4960
      ],
      "id": "2d710e35-cb9a-4a84-9bd9-d280ff4dfafe",
      "credentials": {
        "airtableTokenApi": {
          "id": "j0A9W6lTtOFzjTdr",
          "name": "Reels Завод"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "0 6 * * *"
            }
          ]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1320,
        4960
      ],
      "id": "719db613-84ce-40c5-81a2-f9a9dbbf7a40"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "list",
        "useQueryString": true,
        "queryString": "'1mwCMPgw6NjfEl4IiRIb1gkdFCM42gBXi' in parents and mimeType != 'application/vnd.google-apps.folder'",
        "options": {}
      },
      "name": "Get Reels1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        -1120,
        4960
      ],
      "id": "9443a6f7-2234-40b5-824f-abab588dba69",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Vt1qBhoNFddDaUnc",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{$node[\"Pick Random\"].json[\"fileId\"]}}\n",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -760,
        4960
      ],
      "id": "a204ff36-1d51-46d0-8a5a-73fe41b0c97f",
      "name": "Download from Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Vt1qBhoNFddDaUnc",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "# 1. n8n.io\n# 2. airtable.com\n# 3. developers.facebook.com\n# 4. platform.openai.com\n# 5. console.cloud.google.com\n.\n# ID -\n# Secret - \n# Access Token - EAAKp3yN0oqIBOxz80OfxZAoGMvztjTznRRQDfeoB51AEZCmQobWXF3ZClrnD5AydWs9dNmNjdKTx1h4Op127eAC14x5Nua6ERAawWr346D0RWjuDHO2UMdbC5Pff52sRxi9PWtMju1jQ4S4QvQqHzr3YLkICbZAZCvZAKERvuJsvW4XEGGkMJpAGsBsW0XMTgwC7gM5o3mDOwxRwZBy6uY9VLH3pR1wjCKZAuKkmez4ZC4CQx227SRwZDZD",
        "height": 960,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        3840
      ],
      "typeVersion": 1,
      "id": "c7d219d3-04c6-47ec-8da3-a2c620652e53",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Cron1": {
      "main": [
        []
      ]
    },
    "GPT Generate": {
      "main": [
        [
          {
            "node": "Caption Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Random": {
      "main": [
        [
          {
            "node": "Download from Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Frame": {
      "main": [
        [
          {
            "node": "Get Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Accounts": {
      "main": [
        [
          {
            "node": "Choose Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Choose Source": {
      "main": [
        [
          {
            "node": "IF GPT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF GPT": {
      "main": [
        [
          {
            "node": "GPT Generate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Competitor Reels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Competitor Reels": {
      "main": [
        [
          {
            "node": "Select Viral",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Viral": {
      "main": [
        [
          {
            "node": "Caption Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Caption Source": {
      "main": [
        [
          {
            "node": "Check Duplicate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add Frame",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate": {
      "main": [
        [
          {
            "node": "Save Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Record": {
      "main": [
        [
          {
            "node": "Publish Reel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron": {
      "main": [
        [
          {
            "node": "Get Reels1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Reels1": {
      "main": [
        [
          {
            "node": "Pick Random",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download from Drive1": {
      "main": [
        [
          {
            "node": "Get Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "acdab1fc-de5c-441e-820b-b7dc1e368e25",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "03802800ec9728491c300edb92e0138d87d9dcbbfccb74620634ca050fae6138"
  },
  "id": "z0jH8wDyhCZwTN2f",
  "tags": []
}
