reels-autopilot.json
{
  "name": "My workflow 6",
  "nodes": [
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\n  \"model\": \"gpt-3.5-turbo\",\n  \"messages\": [{\"role\": \"system\",\"content\": \"You are a helpful assistant\"},{\"role\": \"user\",\"content\": \"Generate Instagram reel caption\"}]\n}"
      },
      "name": "GPT Generate1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1700,
        2200
      ],
      "id": "f0325169-a46e-4bca-9b5f-b6fe95b6da45"
    },
    {
      "parameters": {
        "functionCode": "const files = items; // каждый item — это файл\nif (!files.length) {\n  throw new Error('Нет файлов для выбора');\n}\n\nconst idx = Math.floor(Math.random() * files.length);\n\nreturn [\n  {\n    json: {\n      fileId: files[idx].json.id,\n      fileName: files[idx].json.name\n    }\n  }\n];\n"
      },
      "name": "Pick Random1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        520,
        2380
      ],
      "id": "ce450da9-d467-43bd-97c8-7b0eef547910"
    },
    {
      "parameters": {
        "command": "=ffmpeg -i \"{{$node['Download from Drive'].binary.data.filePath}}\" -vf \"drawbox=x=0:y=0:w=iw:h=ih:color=red@0.5:t=fill,drawtext=text='{{$node['Caption Source1'].json['title']}}':fontcolor=white:x=(w-text_w)/2:y=10\" -y output.mp4\n"
      },
      "name": "Add Frame1",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        900,
        2380
      ],
      "id": "5a2917dd-c3b4-4310-83db-4f37e77a28e2"
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "list",
        "application": {
          "__rl": true,
          "value": "appvifz0ot1GllmI6",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "=accounts",
          "mode": ""
        },
        "additionalOptions": {}
      },
      "name": "Get Accounts1",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        1100,
        2380
      ],
      "id": "22aef32d-6b4c-4023-975e-85f5a9ac9259",
      "credentials": {
        "airtableTokenApi": {
          "id": "j0A9W6lTtOFzjTdr",
          "name": "Reels Завод"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "return Math.random() < 0.5 ? [{json:{branch: 'GPT'}}] : [{json:{branch: 'Competitor'}}];"
      },
      "name": "Choose Source1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1300,
        2380
      ],
      "id": "2b57ae00-e5c0-45fb-a69c-8d56326a9b42"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"branch\"]}}",
              "value2": "GPT"
            }
          ]
        }
      },
      "name": "IF GPT1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1500,
        2380
      ],
      "id": "6ee451d7-ee98-497d-ad12-d165b46efc9a"
    },
    {
      "parameters": {
        "url": "=https://www.instagram.com/{{$json.account}}/reels/",
        "options": {}
      },
      "name": "Fetch Competitor Reels1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1700,
        2400
      ],
      "id": "ac6495bf-1564-4e25-81dd-7200a9c7aed9"
    },
    {
      "parameters": {
        "functionCode": "// filter for viral reel\nconst reels = items[0].json.reels || [];\nconst good = reels.filter(r => r.views / r.followers > 1.5);\nif (!good.length) { return [{json:{title:'', description:'', music:''}}]; }\nconst pick = good[Math.floor(Math.random()*good.length)];\nreturn [{json:{title: pick.title, description: pick.description, music: pick.music}}];"
      },
      "name": "Select Viral1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1900,
        2400
      ],
      "id": "72e67980-f8fc-4640-94e4-676e7841c111"
    },
    {
      "parameters": {
        "functionCode": "const data = items[0].json;\nlet title = data.title || (data.choices && data.choices[0]?.message?.content) || '';\nreturn [{json:{title}}];"
      },
      "name": "Caption Source1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2100,
        2300
      ],
      "id": "ad265c75-8535-459f-a6af-208372eecb15"
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "list",
        "application": "airtable",
        "table": "history",
        "additionalOptions": {}
      },
      "name": "Check Duplicate1",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        2300,
        2300
      ],
      "id": "761bd97e-6e7b-46bc-9350-babb02b97291",
      "credentials": {
        "airtableTokenApi": {
          "id": "j0A9W6lTtOFzjTdr",
          "name": "Reels Завод"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "append",
        "application": "airtable",
        "table": "history",
        "options": {}
      },
      "name": "Save Record1",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        2500,
        2300
      ],
      "id": "87d9ad0b-341f-462a-a57a-26799bbb2b74",
      "credentials": {
        "airtableTokenApi": {
          "id": "j0A9W6lTtOFzjTdr",
          "name": "Reels Завод"
        }
      }
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.autoposting.com/reels",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\n  \"caption\": \"{{$node[\\\"Caption Source1\\\"].json[\\\"title\\\"]}}\",\n  \"file\": \"output.mp4\"\n}"
      },
      "name": "Publish Reel1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2700,
        2300
      ],
      "id": "a87d2517-dfcd-4e9b-b046-f52c48e4d069"
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "update",
        "application": "airtable",
        "table": "history",
        "options": {}
      },
      "name": "Update Status1",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        2900,
        2300
      ],
      "id": "8a5e4b7e-67a1-4284-840d-55ff673ebce0",
      "credentials": {
        "airtableTokenApi": {
          "id": "j0A9W6lTtOFzjTdr",
          "name": "Reels Завод"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "0 6 * * *"
            }
          ]
        }
      },
      "name": "Cron1",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        140,
        2380
      ],
      "id": "d5f117da-827a-4012-9147-8fca396ba524"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "list",
        "useQueryString": true,
        "queryString": "'1mwCMPgw6NjfEl4IiRIb1gkdFCM42gBXi' in parents and mimeType != 'application/vnd.google-apps.folder'",
        "options": {}
      },
      "name": "Get Reels",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        340,
        2380
      ],
      "id": "a7530de7-5aff-4fdd-861f-bb2e2f9cdc6e",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Vt1qBhoNFddDaUnc",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{$node[\"Pick Random1\"].json[\"fileId\"]}}\n",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        700,
        2380
      ],
      "id": "69cdaa61-7665-41df-ba22-08b1e3393276",
      "name": "Download from Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Vt1qBhoNFddDaUnc",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "GPT Generate1": {
      "main": [
        []
      ]
    },
    "Pick Random1": {
      "main": [
        [
          {
            "node": "Download from Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Frame1": {
      "main": [
        [
          {
            "node": "Get Accounts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Accounts1": {
      "main": [
        [
          {
            "node": "Choose Source1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Choose Source1": {
      "main": [
        [
          {
            "node": "IF GPT1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF GPT1": {
      "main": [
        [
          {
            "node": "GPT Generate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Competitor Reels1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Competitor Reels1": {
      "main": [
        []
      ]
    },
    "Select Viral1": {
      "main": [
        []
      ]
    },
    "Caption Source1": {
      "main": [
        [
          {
            "node": "Check Duplicate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate1": {
      "main": [
        [
          {
            "node": "Save Record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Record1": {
      "main": [
        [
          {
            "node": "Publish Reel1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish Reel1": {
      "main": [
        []
      ]
    },
    "Cron1": {
      "main": [
        [
          {
            "node": "Get Reels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Reels": {
      "main": [
        [
          {
            "node": "Pick Random1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download from Drive": {
      "main": [
        [
          {
            "node": "Add Frame1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "896457d4-f698-4838-bffd-151f7e9468ac",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "03802800ec9728491c300edb92e0138d87d9dcbbfccb74620634ca050fae6138"
  },
  "id": "z0jH8wDyhCZwTN2f",
  "tags": []
}
